<h1>Image Page</h1>

<%= image_tag @image.paperclip %>

<p><%= link_to "Edit", edit_user_image_path(@user, @image) %></p>
<p>  <%= link_to "Delete Image", user_image_path(@user, @image), :data => {:confirm => "REALLY???", :method => "delete"} %>

</p>
